.container {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.number {
  font-size: 100px;
}

.button {
  width: 70px;
  height: 70px;
  font-size: 70px;
}
