.container {
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
  background-color: aqua;
}

.title {
  margin-left: 1000px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 100px;
  color: rgb(18 150 232);
}
